/* A criação de variáveis ajuda em edições futuras
São criadas a formatações padrões e se precisar
alterar estes padrões não precisa procurar em cada
lugar onde foi usado. É só trocar o valor da variável*/
:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* limita o conteúde ao tamanho da borda a definir */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--preta);
  color: white;
}

/* CABEÇALHO*/

header .container {
  display: flex;
  flex-direction: row; /* já é o padrão */
  align-items: center; /* alinha de maneira vertical */
  justify-content: space-between; /* criar um espaço entre os elementos filhos (h2 e nav) */
}

header .logo {
  color: var(--vermelho);
  font-family: Arial Black, Helvetica, sans-serif;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* FILME EM DESTAQUE */
.filme_principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/capa_mentalista.jpg");

  height: 600px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme_principal .sinopse_filme_principal {
  margin-bottom: 40px;
  margin-top: 10px;
}

.filme_principal .titulo_filme_principal {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 15%;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 10px;
}

.container {
  margin-left: 30px;
}

.filme_principal .container {
  width: 70%;
}

/* CARROSSEL FILMES EM ALTA */
.box_filmes_em_alta {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel_filmes_em_alta {
  margin-top: 10px;
}
